Package: base-files-dbgsym
Package-Type: ddeb
Source: base-files
Version: 20.0.1hamonikr1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 20
Depends: base-files (= 20.0.1hamonikr1)
Section: debug
Priority: optional
Description: debug symbols for base-files
Build-Ids: e5e059d42d9f8b4f9948359447eaccffb40df1ef
Original-Maintainer: Santiago Vila <sanvila@debian.org>
